<div class="container">
  <ul class="breadcrumb">
    <li><a href="/index">首页</a></li>
    <li class="active">玄幻</li>
  </ul>
  <div class="well">
    <div class="media">
      <div class="media-left media-top">
        <img src="../../../assets/Tuscany, Ital.jpg" class="media-object" style="width:100px;height: 130px;">
      </div>
      <div class="media-body">
        <h4 class="media-heading ">《<span>冉阿冉大让人打人就的</span>》</h4>

        <p class="btn-sm btn-info">作者: <span>大魔王</span></p>
        <p class="btn-sm btn-info">类型:<span>玄幻</span></p>
        <p class="btn-sm btn-info">状态:<span>大魔王</span></p>
      </div>
    </div>
  </div>

  <div class="btn-group btn-group-justified">
    <span href="#" class="btn btn-info " >开始阅读</span>
    <span href="#" class="btn btn-info "  >收藏</span>
  </div>

  <div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">简介</a></li>
      <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">章节</a></li>


    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">
        <br>
        <p class="well" style="margin-bottom: 10px;">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
          keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
          salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </div>
      <div class="tab-pane fade" id="profile">
        <br>
        <div class="well" style="margin-bottom: 10px;">
          <button class="btn-info " style="margin: 5px">第一章</button>
          <button class="btn-info " style="margin: 5px">第一章</button>
          <button class="btn-info active" style="margin: 5px">第一章</button>
          <button class="btn-info " style="margin: 5px">第一章</button>
          <button class="btn-info " style="margin: 5px">第一章</button>
          <button class="btn-info " style="margin: 5px">第一章</button>

        </div>

      </div>
    </div>
  </div>

<router-outlet></router-outlet>






</div>
