<div class="navbar navbar-inverse  ">
    <div class="container-fluid"> 
      <div class="row">
        <div class="col-xs-2" style=" padding-left: 0px;margin-top: 12px;">
          <a href="#" >
            <img src="../../../assets/logo.png" style="height: 40px;width: 80px;">
            </a>
        </div>
        <div class="col-xs-6" style="margin-top: 3% ;">
            <div class="input-group">
                <div class="form-group">
                    <div class="input-group">
                      
                      <input type="text" class="form-control" placeholder="搜索">
                      <span class="input-group-addon">Go</span>
                    </div>
                  </div>
                  </div>
        </div>
        <div class="col-xs-2" style="margin-top: 3%;">
          <img class="img-rounded " src="../../../assets/Tuscany, Ital.jpg" width="40px" height="38px" *ngIf="true">
          
        </div>
        <div class="col-xs-2" style="padding-right: 0%; margin-top: 1.2%;" >
            <button class="btn  btn-default" style="margin-top: 8px;" *ngIf="false">登录</button>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs2" style="height: 38px;" *ngIf="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="bs2">
          <br>
        <div class="well">
          <ul class="nav navbar-nav">
            <li ><a href="#"> 我的书架 <span class="badge">14</span></a></li>
            <li><a href="#">我的评论 <span class="badge">14</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">成为作者</a></li>
                <li class="divider"></li>
                <li><a href="#">友情链接</a></li>
              </ul>
            </li>
          </ul>
        </div>
        </div>
    </div>
</div>